body {
    font-family: Palatino, Helvetica, sans;
}
table {
    position: relative;
    width: 80%;
    left: 10%;
    border-collapse: collapse;
    margin-top: 30px;
}
td {
    padding: 3px .5em;
    width: 12.5%;
    vertical-align: top;
    alighn
}
tr.data {
    border-top: 1px solid;
}
tr.pad > td {
    padding: 5px .5em;
}
th {
    border-bottom: 2px solid;
    padding: 10px .5em;
    text-align: left;
}
h1 {
    text-align: center;
    font-size: 180%;
}
h2 {
    text-align: center;
}

.expl {
    position: absolute;
    right: 10%;
    top: 3%;
    width: 15%;
    text-align: right;
    color: #888;
}

.contact {
    position: absolute;
    left: 3%;
    top: 3%;
    width: 15%;
    text-align: left;
    color: #888;
}
footer {
	background: rgba(0, 90, 255, 0.4);
	border-top: 5px solid #05f;
	padding: 5px;
	text-align: center;
	bottom: 0px;
	margin-top: 15px;
}
